<div class="grid-settings">
  <input type="number" [ngModel]="gridStep.x" (ngModelChange)="onGridStepXChange($event)" />
  <span>x</span>
  <input type="number" [ngModel]="gridStep.y" (ngModelChange)="onGridStepYChange($event)" />
</div>

<div class="tools">
  <button [class.selected]="selectedTool === 'paint'" (click)="onSelectTool($event, 'paint')">paint</button>
  <button [class.selected]="selectedTool === 'erase'" (click)="onSelectTool($event, 'erase')">erase</button>
  <button [class.selected]="selectedTool === 'pick'" (click)="onSelectTool($event, 'pick')">pick</button>
</div>

<div class="tools">
  <button [disabled]="!hasUndo" (click)="onUndo($event)">undo</button>
  <button [disabled]="!hasRedo" (click)="onRedo($event)">redo</button>
</div>

<ul class="layers">
  @for (layer of getLayers(); track layer) {
    <li>
      <a href="" [class.selected]="selectedLayer === layer" (click)="onSelectLayer($event, layer)">Layer #{{ layer }}</a>
    </li>
  }
</ul>

<ul class="assets">
  @for (asset of assetNames; track asset) {
    <li>
      <a href="" [class.selected]="selectedAsset && selectedAsset.name === asset" (click)="onSelectAsset($event, asset)">{{ asset }}</a>
    </li>
  }
</ul>

@if (selectedAsset) {
  <div class="tilemaps">
    @if (selectedAsset.tilemaps.length > 0) {
      <div>Tilemaps:</div>
      <ul>
        @for (tilemap of selectedAsset.tilemaps; track tilemap) {
          <li>
            <a href="" [class.selected]="selectedTilemap && selectedTilemap.name === tilemap" (click)="onSelectTilemap($event, tilemap)">{{ tilemap }}</a>
          </li>
        }
      </ul>
    }

    @if (selectedTilemap) {
      <div class="tilemap">
        @for (tileId of selectedTilemap.tileIds; track tileId) {
          <a href="" (click)="onSelectTile($event, tileId)" [class.selected]="tileId === selectedTileId">
            <img src="{{ selectedTilemap.tileImages[tileId] }}" alt="{{ tileId }}" />
          </a>
        }
      </div>

      <a href="" (click)="onUseTilemapGrid($event)">use grid</a>
    }

    @if (selectedAsset.animations.length > 0) {
      <div>Animations:</div>
      <div class="tilemap">
        @for (animation of selectedAsset.animations; track animation.name) {
          <a href="" (click)="onSelectAnimation($event, animation.name)" [class.selected]="animation.name === selectedAnimation">
            <img src="{{ animation.image }}" alt="{{ animation.name }}" title="{{ animation.name }}" />
          </a>
        }
      </div>
    }
  </div>
}

<textarea [ngModel]="data" (ngModelChange)="onDataChange($event)"></textarea>
<button (click)="onSelectData()">copy</button>
